@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
* {
  transition: background-color 0.25s, color 0.25s;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-menu {
  animation: menu 0.18s ease-out;
}

.menu-item {
  animation: itemFade 0.25s ease-out;
}

.menu-item:nth-child(1) {
  animation-delay: 0.05s;
}
.menu-item:nth-child(2) {
  animation-delay: 0.08s;
}
.menu-item:nth-child(3) {
  animation-delay: 0.11s;
}
.menu-item:nth-child(4) {
  animation-delay: 0.14s;
}

@keyframes itemFade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
